Repository albertocavalcante/lsp4k: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-format, workflow-lint

lefthook.yml:

# Install: brew install lefthook && lefthook install

output:
  - meta
  - summary
  - success

pre-commit:
  parallel: true
  commands:
    trailing-whitespace:
      run: |
        if git diff --cached --check 2>/dev/null | grep -q "trailing whitespace"; then
          git diff --cached --check
          exit 1
        fi
      fail_text: "Remove trailing whitespace before committing"

    no-secrets:
      run: |
        staged=$(git diff --cached --name-only --diff-filter=ACM)
        if echo "$staged" | grep -qE '\.(env|pem|key|credentials|secret)$'; then
          echo "Blocked: potential secret file staged"
          echo "$staged" | grep -E '\.(env|pem|key|credentials|secret)$'
          exit 1
        fi
        for f in $staged; do
          case "$f" in lefthook.yml|lefthook-local.yml) continue ;; esac
          if git diff --cached -- "$f" | grep -qiE '(AKIA[0-9A-Z]{16}|ghp_[a-zA-Z0-9]{36}|sk-[a-zA-Z0-9]{48}|-----BEGIN.*PRIVATE KEY-----)'; then
            echo "Blocked: potential secret detected in $f"
            exit 1
          fi
        done
      fail_text: "Do not commit secrets or credentials"

    large-files:
      run: |
        max_size=1048576
        for f in $(git diff --cached --name-only --diff-filter=ACM); do
          size=$(wc -c < "$f" 2>/dev/null || echo 0)
          if [ "$size" -gt "$max_size" ]; then
            echo "Blocked: $f is $(( size / 1024 ))KB (max 1MB)"
            exit 1
          fi
        done
      fail_text: "Do not commit files larger than 1MB"

    kotlin-format:
      # The glob triggers this hook only when .kt/.kts files are staged,
      # but spotlessCheck itself runs against the entire project.
      glob: "**/*.{kt,kts}"
      run: |
        if command -v java &> /dev/null; then
          ./gradlew spotlessCheck --quiet 2>&1
        else
          echo "Skipping: java not found"
        fi
      fail_text: "Run './gradlew spotlessApply' to fix formatting"

    workflow-lint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: |
        if command -v actionlint &> /dev/null; then
          actionlint {staged_files}
        else
          echo "Skipping: actionlint not installed (brew install actionlint)"
        fi
      fail_text: "Fix GitHub Actions workflow lint errors"

commit-msg:
  commands:
    conventional-commit:
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Expected: <type>(<scope>): <description>"
          echo "Example:  feat(server): add completion handler"
          echo "Got:      $commit_msg"
          exit 1
        fi
      fail_text: "Use conventional commit format: type(scope): description"

    msg-length:
      run: |
        first_line=$(head -n1 {1})
        len=${#first_line}
        if [ "$len" -gt 72 ]; then
          echo "Error: Commit message first line is $len chars (max 72)"
          exit 1
        fi
      fail_text: "Keep commit message first line under 72 characters"

fix: remove unnecessary casts and non-null assertions in tests
  .envrc
  .gitignore
  lefthook.yml
  lsp4k-jsonrpc/src/commonTest/kotlin/io/lsp4k/jsonrpc/CodecTest.kt
  lsp4k-jsonrpc/src/commonTest/kotlin/io/lsp4k/jsonrpc/ConnectionTest.kt
  lsp4k-jsonrpc/src/commonTest/kotlin/io/lsp4k/jsonrpc/DispatcherTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/CompletionSerializationTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/HoverSerializationTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/InlineValueSerializationTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/PullDiagnosticsSerializationTest.kt
Due: kotlin-format

refactor: migrate to jsonrpc4k dependency
  example/src/main/kotlin/io/lsp4k/example/NoteLanguageServer.kt
  gradle/libs.versions.toml
  lsp4k-client/build.gradle.kts
  lsp4k-client/src/commonMain/kotlin/io/lsp4k/client/LanguageClient.kt
  lsp4k-client/src/commonTest/kotlin/io/lsp4k/client/LanguageClientBuilderTest.kt
  lsp4k-jsonrpc/build.gradle.kts
  lsp4k-jsonrpc/src/commonMain/kotlin/io/lsp4k/jsonrpc/Codec.kt
  lsp4k-jsonrpc/src/commonMain/kotlin/io/lsp4k/jsonrpc/Dispatcher.kt
  lsp4k-jsonrpc/src/commonMain/kotlin/io/lsp4k/jsonrpc/Message.kt
  lsp4k-jsonrpc/src/commonTest/kotlin/io/lsp4k/jsonrpc/CodecEdgeCaseTest.kt
  lsp4k-jsonrpc/src/commonTest/kotlin/io/lsp4k/jsonrpc/CodecTest.kt
  lsp4k-jsonrpc/src/commonTest/kotlin/io/lsp4k/jsonrpc/ConnectionTest.kt
  lsp4k-jsonrpc/src/commonTest/kotlin/io/lsp4k/jsonrpc/DispatcherBehaviorTest.kt
  lsp4k-jsonrpc/src/commonTest/kotlin/io/lsp4k/jsonrpc/DispatcherTest.kt
  lsp4k-jsonrpc/src/commonTest/kotlin/io/lsp4k/jsonrpc/MessageTest.kt
  lsp4k-jsonrpc/src/commonTest/kotlin/io/lsp4k/jsonrpc/PerformanceTest.kt
  lsp4k-jsonrpc/src/commonTest/resources/fixtures/messages.json
  lsp4k-protocol/src/commonMain/kotlin/io/lsp4k/protocol/LspMethods.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/EitherTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/LspMethodsTest.kt
  lsp4k-server/build.gradle.kts
  lsp4k-server/src/commonMain/kotlin/io/lsp4k/server/LanguageServer.kt
  lsp4k-server/src/commonTest/kotlin/io/lsp4k/server/LanguageServerBuilderTest.kt
  lsp4k-server/src/commonTest/kotlin/io/lsp4k/server/integration/LspIntegrationTest.kt
  lsp4k-transport/build.gradle.kts
  lsp4k-transport/src/commonMain/kotlin/io/lsp4k/transport/Transport.kt
  lsp4k-transport/src/jsMain/kotlin/io/lsp4k/transport/JsTransport.kt
  lsp4k-transport/src/jsMain/kotlin/io/lsp4k/transport/TransportFactory.kt
  lsp4k-transport/src/jvmMain/kotlin/io/lsp4k/transport/JvmTransport.kt
  lsp4k-transport/src/mingwX64Main/kotlin/io/lsp4k/transport/MingwTransport.kt
  lsp4k-transport/src/nativeMain/kotlin/io/lsp4k/transport/TransportFactory.kt
  lsp4k-transport/src/posixMain/kotlin/io/lsp4k/transport/PosixTransport.kt
  settings.gradle.kts
Due: kotlin-format

fix(lsp4k): harden protocol handling and native setup
  README.md
  build.gradle.kts
  buildSrc/src/main/kotlin/lsp4k.multiplatform.gradle.kts
  lsp4k-client/src/commonMain/kotlin/io/lsp4k/client/LanguageClient.kt
  lsp4k-client/src/commonTest/kotlin/io/lsp4k/client/LanguageClientBuilderTest.kt
  lsp4k-protocol/src/commonMain/kotlin/io/lsp4k/protocol/Diagnostic.kt
  lsp4k-protocol/src/commonMain/kotlin/io/lsp4k/protocol/Workspace.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/BasicTypesSerializationTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/CompletionSerializationTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/DiagnosticSerializationTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/EitherSerializationTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/HoverSerializationTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/InitializeSerializationTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/TextDocumentSerializationTest.kt
  lsp4k-protocol/src/commonTest/kotlin/io/lsp4k/protocol/WorkspaceSerializationTest.kt
  lsp4k-server/src/commonMain/kotlin/io/lsp4k/server/LanguageServer.kt
  lsp4k-server/src/commonTest/kotlin/io/lsp4k/server/LanguageServerBuilderTest.kt
Due: kotlin-format

build: make jsonrpc4k dependency explicit
  .github/workflows/ci.yml
  README.md
  buildSrc/settings.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Due: kotlin-format, workflow-lint

ci: add Dagger module as primary portable CI layer
  .dagger/package.json
  .dagger/src/index.ts
  .dagger/tsconfig.json
  .github/workflows/ci.yml
  .gitignore
  dagger.json
Due: workflow-lint

ci(dagger): track module metadata
  .dagger/.gitattributes
  .dagger/.gitignore
  .dagger/yarn.lock
Due: none
